/*Sassの変数定義（色、フォントサイズ、ブレイクポイントなど）*/


//色
$color-primary:#FEFEFF;
$color-navigation:#F3F6FF;
$color-text-base: #45362C;

$color-orenge:#FFDD9D;
$color-brown:#B39783;
$color-bule:#A3C7FF;
$color-green:#A9F0B0;
$color-pink:#FFD0DE;
$color-purple:#A3A5FF;
$color-red:#FF9898;
$color-yellow:#FBEB8C;


//フォントサイズ
$font-size-h1:36px;
$font-size-h2:24px;
$font-size-h3:20px;

$font-size-xl:22px;
$font-size-l:20px;
$font-size-m:18px;
$font-size-s:16px;
$font-size-xs:15px;
$font-size-xxs:14px;


//余白
$space-top:120px;
$spase-bottom:100px;
$spase-side:30px;

$spase-contents:20px;
$spase-section:80px;


//ブレイクポイント
$breakpoint-pc:1024px;
$breakpoint-tab:768px;
$max-width-site:1200px;
$min-width-site:360px;