/* style.scss */

// 1. Foundation（リセット、変数など、全ての土台）
@import "foundation/reset.scss";
@import "foundation/typography.scss";
@import "foundation/variables.scss";
@import "foundation/mixin.scss";


// 2. Layout（ヘッダー、フッターなど、ページの骨組み）
@import "layout/l-main.scss";


// 3. Object
/*component*/
@import "object/component/c-back-button.scss";
@import "object/component/c-button.scss";
@import "object/component/c-cord.scss";
@import "object/component/c-footer-nav.scss";
@import "object/component/c-modal.scss";
@import "object/component/c-tab-switch.scss";
@import "object/component/c-read-button.scss";


/*project*/
@import "object/project/p-content__text.scss";
@import "object/project/p-features-section.scss";
@import "object/project/p-hero-area.scss";
@import "object/project/p-onomatope-section.scss";
@import "object/project/p-read-section.scss";
@import "object/project/p-search-header.scss";
@import "object/project/p-usage-section.scss";





